* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
}

:root {
    /* BACKGROUND COLORS */
    --main-bg-color: #523523;
    --secondary-bg-color: rgb(20, 20, 20);
    /* NAVBAR COLORS*/
    --navbar-color: #24170f;
    --navbar-toggler: #523523;
    --navbar-toggler-border: #ffffff;
    --navbar-toggler-border-active: #925f3f;
    --navbar-link: #858282;
    /* FOOTER BACKGROUND COLOR*/
    --footer-bg-color: #24170f;
    /* BORDER COLORS*/
    --border-color: rgb(63, 47, 47);
    /* FONT */
    --font-color: white;
}

body {
    background-color: var(--main-bg-color);
    justify-content: center;
}

footer {
    width: 100%;
    height: auto;
    background-color: var(--footer-bg-color);
    text-align: center;
    font-family: var(--font-family);
}

#footer-id{
    background-color: var(--footer-bg-color)!important;
}

/* NAVBAR */

nav{
    background-color: var(--navbar-color);
}

.navbar-toggler{
    background-color: var(--navbar-toggler);
    border: 1px groove var(--navbar-toggler-border);
    margin-bottom: 5px;
}

.navbar-toggler:active{
    transform: scale(1.1);
    background-color: var(--navbar-toggler-border-active);
}

.nav-link{
    padding: 5px;
    margin-right: 10px;
}

.nav-link:hover{
    transform: scale(1.1);
    font-weight: bold;
    text-decoration: underline;
}

.nav-link:active{
    background-color: var(--navbar-toggler-border-active);
}
/* FIN NAVBAR */



#logo-main {
    height: 30px;
    width: auto;
    margin-left: 10px;
}

/*  COMIENZO DEL SLIDER*/

.slider {
    position: relative;
    width: 100%;
    height: 80%;
    background: var(--main-bg-color);
   /* margin-top: 40px; */
}

.slider--inner {
    display: none;
    overflow: hidden;
    width: 100%;
}

.slider--inner .imgC {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.fade {
    animation-name: fade;
    animation-duration: 8s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 8s;
}

@keyframes fade {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

.txt {
    position: absolute;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 75%;
    animation-name: posi;
    animation-duration: 2s;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    z-index: 1;
    text-shadow: 0 4px 4px rgba(63, 47, 47, 1);
}

@keyframes posi {
    from {
        left: 60%;
    }

    to {
        left: 75%;
    }
}

@-webkit-keyframes posi {
    from {
        left: 60%;
    }

    to {
        left: 75%;
    }
}

.imgC {
    width: 100%;
    height: 100%;
    transform: scale(1.5, 1.5);
    animation-name: zoomin;
    animation-duration: 40s;
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
}

@keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}


@-webkit-keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: rgb(255, 255, 255, 0.3);
    transition: 0.1s;
    user-select: none;
}

.prev:hover,
.next:hover {
    color: var(--navbar-toggler-border-active);
}

.next {
    right: 0%;
}

/*      FIN DEL SLIDER      */

/*  575px    */

.logo{
    height: 180px;
    width: 200px;
    padding: 10px;
}
/* MENU */
.tarjetas h1 {
    width: 90%; 
    margin-bottom: 20px; 
    text-decoration: underline;
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
}

.tarjeta { 
    margin: 10px;
    border: 3px solid var(--border-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 400px;
}

.tarjeta:hover {
    transform: scale(1.1);
    border-color: var(--navbar-toggler-border-active);
}

.tarjeta img {
    width: 300px;
    height: 200px;
}

.tarjeta .menu-nombre {
background-color: var(--secondary-bg-color);
text-align: center;
padding: 10px;
}

.tarjeta .menu-descripcion {
    padding: 10px;
}

iframe{
    width: 95%;
    margin-bottom: 10px;
    box-shadow: 36px 26px 29px 0px rgba(0,0,0,0.75);
}

@media (min-width: 0px) and (max-width: 575px) {

    /* NAVBAR */
    .navbar-toggler {
        background-color: var(--navbar-toggler);
        border: 1px groove var(--navbar-toggler-border);
        margin-bottom: 5px;
    }

    .navbar-toggler:active {
        transform: scale(1.1);
        background-color: var(--navbar-toggler-border-active);
        ;
    }

    .navbar-toggler:active {
        transform: scale(1.1);
        background-color: var(--navbar-toggler-border-active);
    }

    .nav-link {
        padding: 5px;
        border: 3px groove var(--navbar-link);
        background-color: var(--navbar-toggler);
    }

    .nav-link:active {
        transform: scale(1.1);
        background-color: var(--navbar-toggler-border-active);
    }

    /* FIN NAVBAR */

    .txt {
        left: 60%;
        animation-name: posi3;
        animation-duration: 2s;
        -webkit-animation-name: posi3;
        -webkit-animation-duration: 2s;
    }

    @-webkit-keyframes posi3 {
        from {
            left: 50%;
        }

        to {
            left: 60%;
        }
    }

    @keyframes posi3 {
        from {
            left: 50%;
        }

        to {
            left: 60%;
        }
    }

    .txt h1 {
        font-size: 10px;
    }

    .txt p {
        font-size: 15px;
    }

    .prev,
    .next {
        font-size: 15px;
    }

    .slider {
        position: relative;
        width: 100%;
        height: 710px;
        background: var(--main-bg-color);
       /* margin-top: 40px; */
    }

    .slider--inner{
        height: 100%;
        width: 100%;
    }
    
    .slider--inner .imgC {
        height: cover;
        width: cover;
        aspect-ratio: 8.1/10;
        object-fit: cover;
    }

}

/*  800px    */

@media (min-width: 576px) and (max-width: 800px) {
    .txt {
        line-height: 25px;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        animation-name: posi2;
        animation-duration: 2s;
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
    }

    @-webkit-keyframes posi2 {
        from {
            top: 35%;
        }

        to {
            top: 50%;
        }
    }

    @keyframes posi2 {
        from {
            top: 35%;
        }

        to {
            top: 50%;
        }
    }

    .txt h1 {
        font-size: 40px;
    }

    .txt p {
        font-size: 20px;
    }

    .prev,
    .next {
        font-size: 40px;
    }
}

/*  801px en adelante    */

@media (min-width: 801px) {

    .txt h1 {
        font-size: 60px;
    }

    .txt p {
        font-size: 25px;
    }
}

/* FORMULARIO DE CONTACTO */

#mensaje {
    resize: none;
}

#principal{
    background-image: url("img/restaurante.png");
    background-size: cover;
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
}

#formulario{
    border-color: rgb(63, 47, 47);
    border-style: solid;
    margin-top: 5%;
    background-color: rgb(36, 26, 15,0.8);
    padding-right: 5%;
    padding-left: 5%; 
    width: 45%;   
}

/* NOSOTROS */
#titulos{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

#nosotros{
    background-image: url("img/mesa.jpg");
    background-size: cover;
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
}

#nos{
    text-align: center;
    border-color: rgb(63, 47, 47);
    border-style: solid;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(36, 26, 15,0.8);
    width:80%;
}    
    
.comida{
    width:100%;
    height: 45%;
    filter:brightness(0,75)

}

@media screen and (max-width:1000px){
    #formulario{
        width: 70%;
    }
}
    
@media screen and (max-width:700px) {

#formulario{
    width: 90%;
}
}